.button-default {
  padding: .8rem 5rem !important;
  background-color: #383b70;
  border-color: #383b70;
  border-radius: 50px !important;
  transition: 0.5s;
}

button:focus {
  outline: 0 none !important;
}

.button-default:hover {
  background-color: #2c2e57!important;
  border-color: #2c2e57!important;
}

@media (max-width: 576px) {
  .button-default {
    width: 100%;
  }
}
