.navbar-brand {
  color: white !important;
}

.menu {
  background-color: #08192d;
  color: white !important;
}

.menu button {
  margin-left: inherit;
}

.menu i { 
  font-size: 28pt;
  font-weight: 100;
  color: #fff!important;
}

.menu h4 {  
  font-weight: 900;
  letter-spacing: 3px;;
}

.menu h4 span {
  color: #fc0254!important;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  float: right;
  width: 100%;
}

.menu ul li {
  display: block;
  padding: 1rem 2.5rem;
}

.menu ul li:hover {  
  cursor: pointer;
}

.menu ul li a {
  color: white !important;
  display: block;
  width: 100%;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #fc0254!important;
}


